<a href="https://colab.research.google.com/github/HemersonFarias/DataScience/blob/main/Challenge_looq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp37-cp37m-manylinux1_x86_64.whl (25.2 MB)
     |████████████████████████████████| 25.2 MB 1.7 MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.29

## Código que pegar usuário e senha (correto)

In [ ]:
import mysql.connector
from getpass import getpass


mydb = mysql.connector.connect(user=input("Enter username: "), #'alooqbox-challenge', 
                               password=getpass("Enter password: "), #'looq-challenge', 
                               host='35.199.127.241', 
                               database='looqbox_challenge'
)

mycursor = mydb.cursor()

mycursor.execute("SELECT PRODUCT_COD, PRODUCT_NAME, PRODUCT_VAL AS 'PRODUCT VALUE' FROM data_product order by PRODUCT_VAL DESC LIMIT 10; ")

myresult = mycursor.fetchall()
for x in myresult:
  print(x)

## Question 1

In [ ]:
import mysql.connector
from getpass import getpass


mycursor = mydb.cursor()

In [ ]:
mycursor.execute("SELECT * FROM data_product_sales LIMIT 1000")

myresult = mycursor.fetchall()

In [ ]:
data = pd.DataFrame(myresult, columns = ['Store_cod', 'Product_code', 'Date', 'Sales_value', 'Sales_qty'])

In [ ]:
data

    Store_cod  Product_code        Date Sales_value Sales_qty
0           1            18  2019-01-01      708.50        65
1           1            18  2019-01-02     1297.10       119
2           1            18  2019-01-03     1144.50       105
3           1            18  2019-01-04     1090.00       100
4           1            18  2019-01-05      893.80        82
..        ...           ...         ...         ...       ...
995         1            48  2016-08-15      547.68       112
996         1            48  2016-08-16      679.71       139
997         1            48  2016-08-17      953.55       195
998         1            48  2016-08-18      787.29       161
999         1            48  2016-08-19      792.18       162

[1000 rows x 5 columns]

In [ ]:
from_db = []

In [ ]:
for myresult in myresult:
  myresult = myresult
  from_db.append(myresult)

In [ ]:
myresult

('1', 48, datetime.date(2016, 8, 19), Decimal('792.18'), Decimal('162'))

# Question 2

## Importing

In [201]:
mycursor.execute("SELECT STORE_CODE, STORE_NAME, START_DATE, END_DATE, BUSINESS_NAME, BUSINESS_CODE FROM data_store_cad LIMIT 100") #use query 1
query1 = mycursor.fetchall() #fetches all results and put in query1
query1   #show query 1

[(1, 'Sao Paulo', '2006-10-01', '', 'Varejo', 1),
 (2, 'Chicago', '2007-10-01', '', 'Varejo', 1),
 (3, 'Roma', '2008-10-01', '', 'Varejo', 1),
 (4, 'Tokio', '2009-10-01', '', 'Varejo', 1),
 (5, 'Paris', '2019-01-01', '', 'Proximidade', 2),
 (6, 'Berlin', '2011-10-01', '', 'Proximidade', 2),
 (7, 'New York', '2012-10-01', '', 'Proximidade', 2),
 (8, 'Belem', '2013-10-01', '', 'Proximidade', 2),
 (9, 'London', '2014-10-01', '', 'Farma', 4),
 (10, 'Hong Kong', '2019-01-01', '', 'Farma', 4),
 (11, 'Rio de Janeiro', '2019-01-01', '', 'Farma', 4),
 (12, 'Madri', '2019-01-01', '', 'Farma', 4),
 (13, 'Dubai', '2019-01-01', '', 'Atacado', 5),
 (14, 'Bahia', '2019-01-01', '', 'Atacado', 5),
 (15, 'Buenos Aires', '2019-01-01', '', 'Atacado', 5),
 (16, 'Salvador', '2019-01-01', '', 'Atacado', 5),
 (17, 'Sidney', '2019-01-01', '', 'Posto', 3),
 (18, 'Bangkok', '2019-01-01', '', 'Posto', 3),
 (19, 'Miami', '2019-01-01', '', 'Posto', 3),
 (20, 'Vancouver', '2019-01-01', '', 'Posto', 3)]

In [202]:
mycursor.execute("SELECT STORE_CODE, DATE, SALES_VALUE, SALES_QTY FROM data_store_sales WHERE DATE BETWEEN '2019-01-01' AND '2019-12-31'") #use query 2
query2 = mycursor.fetchall() #fetches all results and put in query2
query2 #show query2

[(1, datetime.date(2019, 1, 1), 196623.22, 12838),
 (10, datetime.date(2019, 1, 1), 126795.44, 4933),
 (11, datetime.date(2019, 1, 1), 223937.0, 7724),
 (12, datetime.date(2019, 1, 1), 200251.8, 7043),
 (13, datetime.date(2019, 1, 1), 196623.22, 12838),
 (14, datetime.date(2019, 1, 1), 196623.22, 12838),
 (15, datetime.date(2019, 1, 1), 196623.22, 12838),
 (16, datetime.date(2019, 1, 1), 196623.22, 12838),
 (17, datetime.date(2019, 1, 1), 67096.2, 4910),
 (18, datetime.date(2019, 1, 1), 67096.2, 4910),
 (19, datetime.date(2019, 1, 1), 67096.2, 4910),
 (2, datetime.date(2019, 1, 1), 207090.68, 13334),
 (20, datetime.date(2019, 1, 1), 67096.2, 4910),
 (3, datetime.date(2019, 1, 1), 196623.22, 12838),
 (4, datetime.date(2019, 1, 1), 196623.22, 12838),
 (5, datetime.date(2019, 1, 1), 196623.22, 12838),
 (6, datetime.date(2019, 1, 1), 196623.22, 12838),
 (7, datetime.date(2019, 1, 1), 196623.22, 12838),
 (8, datetime.date(2019, 1, 1), 194833.22, 12738),
 (9, datetime.date(2019, 1, 1), 155570.7, 5379),
 (1, datetime.date(2019, 1, 2), 307504.48, 19973),
 (10, datetime.date(2019, 1, 2), 218939.9, 8313),
 (11, datetime.date(2019, 1, 2), 397016.1, 13431),
 (12, datetime.date(2019, 1, 2), 352195.45, 12144),
 (13, datetime.date(2019, 1, 2), 307504.48, 19973),
 (14, datetime.date(2019, 1, 2), 307504.48, 19973),
 (15, datetime.date(2019, 1, 2), 307504.48, 19973),
 (16, datetime.date(2019, 1, 2), 307504.48, 19973),
 (17, datetime.date(2019, 1, 2), 123000.1, 9001),
 (18, datetime.date(2019, 1, 2), 123000.1, 9001),
 (19, datetime.date(2019, 1, 2), 123000.1, 9001),
 (2, datetime.date(2019, 1, 2), 317296.62, 20437),
 (20, datetime.date(2019, 1, 2), 123000.1, 9001),
 (3, datetime.date(2019, 1, 2), 307504.48, 19973),
 (4, datetime.date(2019, 1, 2), 307504.48, 19973),
 (5, datetime.date(2019, 1, 2), 307504.48, 19973),
 (6, datetime.date(2019, 1, 2), 307504.48, 19973),
 (7, datetime.date(2019, 1, 2), 307504.48, 19973),
 (8, datetime.date(2019, 1, 2), 304228.78, 19790),
 (9, datetime.date(2019, 1, 2), 284790.16, 9850),
 (1, datetime.date(2019, 1, 3), 274842.91, 17860),
 (10, datetime.date(2019, 1, 3), 194065.56, 7383),
 (11, datetime.date(2019, 1, 3), 350981.31, 11893),
 (12, datetime.date(2019, 1, 3), 312353.56, 10782),
 (13, datetime.date(2019, 1, 3), 274842.91, 17860),
 (14, datetime.date(2019, 1, 3), 274842.91, 17860),
 (15, datetime.date(2019, 1, 3), 274842.91, 17860),
 (16, datetime.date(2019, 1, 3), 274842.91, 17860),
 (17, datetime.date(2019, 1, 3), 108476.34, 7938),
 (18, datetime.date(2019, 1, 3), 108476.34, 7938),
 (19, datetime.date(2019, 1, 3), 108476.34, 7938),
 (2, datetime.date(2019, 1, 3), 284128.56, 18300),
 (20, datetime.date(2019, 1, 3), 108476.34, 7938),
 (3, datetime.date(2019, 1, 3), 274842.91, 17860),
 (4, datetime.date(2019, 1, 3), 274842.91, 17860),
 (5, datetime.date(2019, 1, 3), 274842.91, 17860),
 (6, datetime.date(2019, 1, 3), 274842.91, 17860),
 (7, datetime.date(2019, 1, 3), 274842.91, 17860),
 (8, datetime.date(2019, 1, 3), 271943.11, 17698),
 (9, datetime.date(2019, 1, 3), 251893.16, 8707),
 (1, datetime.date(2019, 1, 4), 242439.39, 15713),
 (10, datetime.date(2019, 1, 4), 179985.26, 6768),
 (11, datetime.date(2019, 1, 4), 328214.36, 11027),
 (12, datetime.date(2019, 1, 4), 290856.99, 9953),
 (13, datetime.date(2019, 1, 4), 242439.39, 15713),
 (14, datetime.date(2019, 1, 4), 242439.39, 15713),
 (15, datetime.date(2019, 1, 4), 242439.39, 15713),
 (16, datetime.date(2019, 1, 4), 242439.39, 15713),
 (17, datetime.date(2019, 1, 4), 102882.14, 7529),
 (18, datetime.date(2019, 1, 4), 102882.14, 7529),
 (19, datetime.date(2019, 1, 4), 102882.14, 7529),
 (2, datetime.date(2019, 1, 4), 248010.78, 15977),
 (20, datetime.date(2019, 1, 4), 102882.14, 7529),
 (3, datetime.date(2019, 1, 4), 242439.39, 15713),
 (4, datetime.date(2019, 1, 4), 242439.39, 15713),
 (5, datetime.date(2019, 1, 4), 242439.39, 15713),
 (6, datetime.date(2019, 1, 4), 242439.39, 15713),
 (7, datetime.date(2019, 1, 4), 242439.39, 15713),
 (8, datetime.date(2019, 1, 4), 239700.69, 15560),
 (9, datetime.date(2019, 1, 4), 238140.35, 8236),
 (1, datetime.date(2019, 1, 5), 205547.18, 13338),
 (10, datetime.date(2019, 1, 5), 149275.62, 5641),
 (11, datetime.date(2019, 1, 5), 270121.38, 9115),
 (12, datetime.date(2019, 1, 5), 240210.29, 8255),
 (13, datetime.date(2019, 1, 5), 205547.18, 13338),
 (14, datetime.date(2019, 1, 5), 205547.18, 13338),
 (15, datetime.date(2019, 1, 5), 205547.18, 13338),
 (16, datetime.date(2019, 1, 5), 205547.18, 13338),
 (17, datetime.date(2019, 1, 5), 84436.91, 6179),
 (18, datetime.date(2019, 1, 5), 84436.91, 6179),
 (19, datetime.date(2019, 1, 5), 84436.91, 6179),
 (2, datetime.date(2019, 1, 5), 211287.4, 13610),
 (20, datetime.date(2019, 1, 5), 84436.91, 6179),
 (3, datetime.date(2019, 1, 5), 205547.18, 13338),
 (4, datetime.date(2019, 1, 5), 205547.18, 13338),
 (5, datetime.date(2019, 1, 5), 205547.18, 13338),
 (6, datetime.date(2019, 1, 5), 205547.18, 13338),
 (7, datetime.date(2019, 1, 5), 205547.18, 13338),
 (8, datetime.date(2019, 1, 5), 203291.78, 13212),
 (9, datetime.date(2019, 1, 5), 195950.29, 6773),
 (1, datetime.date(2019, 1, 6), 170200.21, 11041),
 (10, datetime.date(2019, 1, 6), 123721.81, 4676),
 (11, datetime.date(2019, 1, 6), 225830.89, 7608),
 (12, datetime.date(2019, 1, 6), 199701.93, 6859),
 (13, datetime.date(2019, 1, 6), 170200.21, 11041),
 (14, datetime.date(2019, 1, 6), 170200.21, 11041),
 (15, datetime.date(2019, 1, 6), 170200.21, 11041),
 (16, datetime.date(2019, 1, 6), 170200.21, 11041),
 (17, datetime.date(2019, 1, 6), 70445.56, 5155),
 (18, datetime.date(2019, 1, 6), 70445.56, 5155),
 (19, datetime.date(2019, 1, 6), 70445.56, 5155),
 (2, datetime.date(2019, 1, 6), 174758.62, 11257),
 (20, datetime.date(2019, 1, 6), 70445.56, 5155),
 (3, datetime.date(2019, 1, 6), 170200.21, 11041),
 (4, datetime.date(2019, 1, 6), 170200.21, 11041),
 (5, datetime.date(2019, 1, 6), 170200.21, 11041),
 (6, datetime.date(2019, 1, 6), 170200.21, 11041),
 (7, datetime.date(2019, 1, 6), 170200.21, 11041),
 (8, datetime.date(2019, 1, 6), 168320.71, 10936),
 (9, datetime.date(2019, 1, 6), 163335.84, 5647),
 (1, datetime.date(2019, 1, 7), 168212.07, 10956),
 (10, datetime.date(2019, 1, 7), 113700.68, 4372),
 (11, datetime.date(2019, 1, 7), 203371.97, 6949),
 (12, datetime.date(2019, 1, 7), 180954.15, 6304),
 (13, datetime.date(2019, 1, 7), 168212.07, 10956),
 (14, datetime.date(2019, 1, 7), 168212.07, 10956),
 (15, datetime.date(2019, 1, 7), 168212.07, 10956),
 (16, datetime.date(2019, 1, 7), 168212.07, 10956),
 (17, datetime.date(2019, 1, 7), 62052.31, 4541),
 (18, datetime.date(2019, 1, 7), 62052.31, 4541),
 (19, datetime.date(2019, 1, 7), 62052.31, 4541),
 (2, datetime.date(2019, 1, 7), 175471.76, 11300),
 (20, datetime.date(2019, 1, 7), 62052.31, 4541),
 (3, datetime.date(2019, 1, 7), 168212.07, 10956),
 (4, datetime.date(2019, 1, 7), 168212.07, 10956),
 (5, datetime.date(2019, 1, 7), 168212.07, 10956),
 (6, datetime.date(2019, 1, 7), 168212.07, 10956),
 (7, datetime.date(2019, 1, 7), 168212.07, 10956),
 (8, datetime.date(2019, 1, 7), 166565.27, 10864),
 (9, datetime.date(2019, 1, 7), 143293.81, 4959),
 (1, datetime.date(2019, 1, 8), 190944.5, 12440),
 (10, datetime.date(2019, 1, 8), 128937.27, 4958),
 (11, datetime.date(2019, 1, 8), 229819.97, 7857),
 (12, datetime.date(2019, 1, 8), 203698.01, 7108),
 (13, datetime.date(2019, 1, 8), 190944.5, 12440),
 (14, datetime.date(2019, 1, 8), 190944.5, 12440),
 (15, datetime.date(2019, 1, 8), 190944.5, 12440),
 (16, datetime.date(2019, 1, 8), 190944.5, 12440),
 (17, datetime.date(2019, 1, 8), 69895.25, 5115),
 (18, datetime.date(2019, 1, 8), 69895.25, 5115),
 (19, datetime.date(2019, 1, 8), 69895.25, 5115),
 (2, datetime.date(2019, 1, 8), 199386.0, 12840),
 (20, datetime.date(2019, 1, 8), 69895.25, 5115),
 (3, datetime.date(2019, 1, 8), 190944.5, 12440),
 (4, datetime.date(2019, 1, 8), 190944.5, 12440),
 (5, datetime.date(2019, 1, 8), 190944.5, 12440),
 (6, datetime.date(2019, 1, 8), 190944.5, 12440),
 (7, datetime.date(2019, 1, 8), 190944.5, 12440),
 (8, datetime.date(2019, 1, 8), 189082.9, 12336),
 (9, datetime.date(2019, 1, 8), 161843.92, 5597),
 (1, datetime.date(2019, 1, 9), 325084.6, 21117),
 (10, datetime.date(2019, 1, 9), 231709.03, 8795),
 (11, datetime.date(2019, 1, 9), 418554.88, 14164),
 (12, datetime.date(2019, 1, 9), 371241.48, 12805),
 (13, datetime.date(2019, 1, 9), 325084.6, 21117),
 (14, datetime.date(2019, 1, 9), 325084.6, 21117),
 (15, datetime.date(2019, 1, 9), 325084.6, 21117),
 (16, datetime.date(2019, 1, 9), 325084.6, 21117),
 (17, datetime.date(2019, 1, 9), 129720.62, 9493),
 (18, datetime.date(2019, 1, 9), 129720.62, 9493),
 (19, datetime.date(2019, 1, 9), 129720.62, 9493),
 (2, datetime.date(2019, 1, 9), 335552.06, 21613),
 (20, datetime.date(2019, 1, 9), 129720.62, 9493),
 (3, datetime.date(2019, 1, 9), 325084.6, 21117),
 (4, datetime.date(2019, 1, 9), 325084.6, 21117),
 (5, datetime.date(2019, 1, 9), 325084.6, 21117),
 (6, datetime.date(2019, 1, 9), 325084.6, 21117),
 (7, datetime.date(2019, 1, 9), 325084.6, 21117),
 (8, datetime.date(2019, 1, 9), 321629.9, 20924),
 (9, datetime.date(2019, 1, 9), 300369.43, 10388),
 (1, datetime.date(2019, 1, 10), 268306.25, 17466),
 (10, datetime.date(2019, 1, 10), 184108.34, 7051),
 (11, datetime.date(2019, 1, 10), 329829.69, 11238),
 (12, datetime.date(2019, 1, 10), 292497.32, 10166),
 (13, datetime.date(2019, 1, 10), 268306.25, 17466),
 (14, datetime.date(2019, 1, 10), 268306.25, 17466),
 (15, datetime.date(2019, 1, 10), 268306.25, 17466),
 (16, datetime.date(2019, 1, 10), 268306.25, 17466),
 (17, datetime.date(2019, 1, 10), 100655.2, 7366),
 (18, datetime.date(2019, 1, 10), 100655.2, 7366),
 (19, datetime.date(2019, 1, 10), 100655.2, 7366),
 (2, datetime.date(2019, 1, 10), 279280.2, 17986),
 (20, datetime.date(2019, 1, 10), 100655.2, 7366),
 (3, datetime.date(2019, 1, 10), 268306.25, 17466),
 (4, datetime.date(2019, 1, 10), 268306.25, 17466),
 (5, datetime.date(2019, 1, 10), 268306.25, 17466),
 (6, datetime.date(2019, 1, 10), 268306.25, 17466),
 (7, datetime.date(2019, 1, 10), 268306.25, 17466),
 (8, datetime.date(2019, 1, 10), 265621.25, 17316),
 (9, datetime.date(2019, 1, 10), 233367.05, 8069),
 (1, datetime.date(2019, 1, 11), 235749.78, 15279),
 (10, datetime.date(2019, 1, 11), 174741.42, 6574),
 (11, datetime.date(2019, 1, 11), 319236.39, 10725),
 (12, datetime.date(2019, 1, 11), 283113.4, 9686),
 (13, datetime.date(2019, 1, 11), 235749.78, 15279),
 (14, datetime.date(2019, 1, 11), 235749.78, 15279),
 (15, datetime.date(2019, 1, 11), 235749.78, 15279),
 (16, datetime.date(2019, 1, 11), 235749.78, 15279),
 (17, datetime.date(2019, 1, 11), 100083.09, 7324),
 (18, datetime.date(2019, 1, 11), 100083.09, 7324),
 (19, datetime.date(2019, 1, 11), 100083.09, 7324),
 (2, datetime.date(2019, 1, 11), 241152.34, 15535),
 (20, datetime.date(2019, 1, 11), 100083.09, 7324),
 (3, datetime.date(2019, 1, 11), 235749.78, 15279),
 (4, datetime.date(2019, 1, 11), 235749.78, 15279),
 (5, datetime.date(2019, 1, 11), 235749.78, 15279),
 (6, datetime.date(2019, 1, 11), 235749.78, 15279),
 (7, datetime.date(2019, 1, 11), 235749.78, 15279),
 (8, datetime.date(2019, 1, 11), 233082.68, 15130),
 (9, datetime.date(2019, 1, 11), 231876.13, 8018),
 (1, datetime.date(2019, 1, 12), 194044.94, 12613),
 (10, datetime.date(2019, 1, 12), 136875.49, 5207),
 (11, datetime.date(2019, 1, 12), 246498.84, 8358),
 (12, datetime.date(2019, 1, 12), 219092.5, 7569),
 (13, datetime.date(2019, 1, 12), 194044.94, 12613),
 (14, datetime.date(2019, 1, 12), 194044.94, 12613),
 (15, datetime.date(2019, 1, 12), 194044.94, 12613),
 (16, datetime.date(2019, 1, 12), 194044.94, 12613),
 (17, datetime.date(2019, 1, 12), 76043.66, 5565),
 (18, datetime.date(2019, 1, 12), 76043.66, 5565),
 (19, datetime.date(2019, 1, 12), 76043.66, 5565),
 (2, datetime.date(2019, 1, 12), 200798.14, 12933),
 (20, datetime.date(2019, 1, 12), 76043.66, 5565),
 (3, datetime.date(2019, 1, 12), 194044.94, 12613),
 (4, datetime.date(2019, 1, 12), 194044.94, 12613),
 (5, datetime.date(2019, 1, 12), 194044.94, 12613),
 (6, datetime.date(2019, 1, 12), 194044.94, 12613),
 (7, datetime.date(2019, 1, 12), 194044.94, 12613),
 (8, datetime.date(2019, 1, 12), 192022.24, 12500),
 (9, datetime.date(2019, 1, 12), 175923.27, 6085),
 (1, datetime.date(2019, 1, 13), 173016.76, 11263),
 (10, datetime.date(2019, 1, 13), 118494.52, 4542),
 (11, datetime.date(2019, 1, 13), 213133.32, 7260),
 (12, datetime.date(2019, 1, 13), 189473.12, 6580),
 (13, datetime.date(2019, 1, 13), 173016.76, 11263),
 (14, datetime.date(2019, 1, 13), 173016.76, 11263),
 (15, datetime.date(2019, 1, 13), 173016.76, 11263),
 (16, datetime.date(2019, 1, 13), 173016.76, 11263),
 (17, datetime.date(2019, 1, 13), 64869.26, 4747),
 (18, datetime.date(2019, 1, 13), 64869.26, 4747),
 (19, datetime.date(2019, 1, 13), 64869.26, 4747),
 (2, datetime.date(2019, 1, 13), 180107.62, 11599),
 (20, datetime.date(2019, 1, 13), 64869.26, 4747),
 (3, datetime.date(2019, 1, 13), 173016.76, 11263),
 (4, datetime.date(2019, 1, 13), 173016.76, 11263),
 (5, datetime.date(2019, 1, 13), 173016.76, 11263),
 (6, datetime.date(2019, 1, 13), 173016.76, 11263),
 (7, datetime.date(2019, 1, 13), 173016.76, 11263),
 (8, datetime.date(2019, 1, 13), 171280.46, 11166),
 (9, datetime.date(2019, 1, 13), 150802.4, 5212),
 (1, datetime.date(2019, 1, 14), 162163.93, 10523),
 (10, datetime.date(2019, 1, 14), 116923.52, 4427),
 (11, datetime.date(2019, 1, 14), 212807.7, 7181),
 (12, datetime.date(2019, 1, 14), 189137.5, 6501),
 (13, datetime.date(2019, 1, 14), 162163.93, 10523),
 (14, datetime.date(2019, 1, 14), 162163.93, 10523),
 (15, datetime.date(2019, 1, 14), 162163.93, 10523),
 (16, datetime.date(2019, 1, 14), 162163.93, 10523),
 (17, datetime.date(2019, 1, 14), 66524.09, 4868),
 (18, datetime.date(2019, 1, 14), 66524.09, 4868),
 (19, datetime.date(2019, 1, 14), 66524.09, 4868),
 (2, datetime.date(2019, 1, 14), 166722.34, 10739),
 (20, datetime.date(2019, 1, 14), 66524.09, 4868),
 (3, datetime.date(2019, 1, 14), 162163.93, 10523),
 (4, datetime.date(2019, 1, 14), 162163.93, 10523),
 (5, datetime.date(2019, 1, 14), 162163.93, 10523),
 (6, datetime.date(2019, 1, 14), 162163.93, 10523),
 (7, datetime.date(2019, 1, 14), 162163.93, 10523),
 (8, datetime.date(2019, 1, 14), 160391.83, 10424),
 (9, datetime.date(2019, 1, 14), 154038.78, 5328),
 (1, datetime.date(2019, 1, 15), 196492.07, 12800),
 (10, datetime.date(2019, 1, 15), 132733.19, 5104),
 (11, datetime.date(2019, 1, 15), 237366.03, 8110),
 (12, datetime.date(2019, 1, 15), 211207.07, 7358),
 (13, datetime.date(2019, 1, 15), 196492.07, 12800),
 (14, datetime.date(2019, 1, 15), 196492.07, 12800),
 (15, datetime.date(2019, 1, 15), 196492.07, 12800),
 (16, datetime.date(2019, 1, 15), 196492.07, 12800),
 (17, datetime.date(2019, 1, 15), 72140.09, 5279),
 (18, datetime.date(2019, 1, 15), 72140.09, 5279),
 (19, datetime.date(2019, 1, 15), 72140.09, 5279),
 (2, datetime.date(2019, 1, 15), 205102.4, 13208),
 (20, datetime.date(2019, 1, 15), 72140.09, 5279),
 (3, datetime.date(2019, 1, 15), 196492.07, 12800),
 (4, datetime.date(2019, 1, 15), 196492.07, 12800),
 (5, datetime.date(2019, 1, 15), 196492.07, 12800),
 (6, datetime.date(2019, 1, 15), 196492.07, 12800),
 (7, datetime.date(2019, 1, 15), 196492.07, 12800),
 (8, datetime.date(2019, 1, 15), 194558.87, 12692),
 (9, datetime.date(2019, 1, 15), 167869.59, 5799),
 (1, datetime.date(2019, 1, 16), 322264.36, 21021),
 (10, datetime.date(2019, 1, 16), 211942.31, 8204),
 (11, datetime.date(2019, 1, 16), 375128.96, 12892),
 (12, datetime.date(2019, 1, 16), 334030.45, 11711),
 (13, datetime.date(2019, 1, 16), 322264.36, 21021),
 (14, datetime.date(2019, 1, 16), 322264.36, 21021),
 (15, datetime.date(2019, 1, 16), 322264.36, 21021),
 (16, datetime.date(2019, 1, 16), 322264.36, 21021),
 (17, datetime.date(2019, 1, 16), 113502.33, 8306),
 (18, datetime.date(2019, 1, 16), 113502.33, 8306),
 (19, datetime.date(2019, 1, 16), 113502.33, 8306),
 (2, datetime.date(2019, 1, 16), 338134.38, 21773),
 (20, datetime.date(2019, 1, 16), 113502.33, 8306),
 (3, datetime.date(2019, 1, 16), 322264.36, 21021),
 (4, datetime.date(2019, 1, 16), 322264.36, 21021),
 (5, datetime.date(2019, 1, 16), 322264.36, 21021),
 (6, datetime.date(2019, 1, 16), 322264.36, 21021),
 (7, datetime.date(2019, 1, 16), 322264.36, 21021),
 (8, datetime.date(2019, 1, 16), 319239.26, 20852),
 (9, datetime.date(2019, 1, 16), 262969.67, 9093),
 (1, datetime.date(2019, 1, 17), 254221.83, 16515),
 (10, datetime.date(2019, 1, 17), 180578.88, 6861),
 (11, datetime.date(2019, 1, 17), 327544.6, 11083),
 (12, datetime.date(2019, 1, 17), 290203.23, 10009),
 (13, datetime.date(2019, 1, 17), 254221.83, 16515),
 (14, datetime.date(2019, 1, 17), 254221.83, 16515),
 (15, datetime.date(2019, 1, 17), 254221.83, 16515),
 (16, datetime.date(2019, 1, 17), 254221.83, 16515),
 (17, datetime.date(2019, 1, 17), 101205.51, 7406),
 (18, datetime.date(2019, 1, 17), 101205.51, 7406),
 (19, datetime.date(2019, 1, 17), 101205.51, 7406),
 (2, datetime.date(2019, 1, 17), 262494.5, 16907),
 (20, datetime.date(2019, 1, 17), 101205.51, 7406),
 (3, datetime.date(2019, 1, 17), 254221.83, 16515),
 (4, datetime.date(2019, 1, 17), 254221.83, 16515),
 (5, datetime.date(2019, 1, 17), 254221.83, 16515),
 (6, datetime.date(2019, 1, 17), 254221.83, 16515),
 (7, datetime.date(2019, 1, 17), 254221.83, 16515),
 (8, datetime.date(2019, 1, 17), 251518.93, 16364),
 (9, datetime.date(2019, 1, 17), 234882.97, 8119),
 (1, datetime.date(2019, 1, 18), 247166.7, 16047),
 (10, datetime.date(2019, 1, 18), 177617.42, 6730),
 (11, datetime.date(2019, 1, 18), 322121.39, 10881),
 (12, datetime.date(2019, 1, 18), 285995.4, 9842),
 (13, datetime.date(2019, 1, 18), 247166.7, 16047),
 (14, datetime.date(2019, 1, 18), 247166.7, 16047),
 (15, datetime.date(2019, 1, 18), 247166.7, 16047),
 (16, datetime.date(2019, 1, 18), 247166.7, 16047),
 (17, datetime.date(2019, 1, 18), 100083.09, 7324),
 (18, datetime.date(2019, 1, 18), 100083.09, 7324),
 (19, datetime.date(2019, 1, 18), 100083.09, 7324),
 (2, datetime.date(2019, 1, 18), 254595.22, 16399),
 (20, datetime.date(2019, 1, 18), 100083.09, 7324),
 (3, datetime.date(2019, 1, 18), 247166.7, 16047),
 (4, datetime.date(2019, 1, 18), 247166.7, 16047),
 (5, datetime.date(2019, 1, 18), 247166.7, 16047),
 (6, datetime.date(2019, 1, 18), 247166.7, 16047),
 (7, datetime.date(2019, 1, 18), 247166.7, 16047),
 (8, datetime.date(2019, 1, 18), 244499.6, 15898),
 (9, datetime.date(2019, 1, 18), 231887.13, 8018),
 (1, datetime.date(2019, 1, 19), 201447.69, 13114),
 (10, datetime.date(2019, 1, 19), 137550.57, 5276),
 (11, datetime.date(2019, 1, 19), 247154.92, 8424),
 (12, datetime.date(2019, 1, 19), 219752.58, 7635),
 (13, datetime.date(2019, 1, 19), 201447.69, 13114),
 (14, datetime.date(2019, 1, 19), 201447.69, 13114),
 (15, datetime.date(2019, 1, 19), 201447.69, 13114),
 (16, datetime.date(2019, 1, 19), 201447.69, 13114),
 (17, datetime.date(2019, 1, 19), 75471.55, 5523),
 (18, datetime.date(2019, 1, 19), 75471.55, 5523),
 (19, datetime.date(2019, 1, 19), 75471.55, 5523),
 (2, datetime.date(2019, 1, 19), 209720.36, 13506),
 (20, datetime.date(2019, 1, 19), 75471.55, 5523),
 (3, datetime.date(2019, 1, 19), 201447.69, 13114),
 (4, datetime.date(2019, 1, 19), 201447.69, 13114),
 (5, datetime.date(2019, 1, 19), 201447.69, 13114),
 (6, datetime.date(2019, 1, 19), 201447.69, 13114),
 (7, datetime.date(2019, 1, 19), 201447.69, 13114),
 (8, datetime.date(2019, 1, 19), 199442.89, 13002),
 (9, datetime.date(2019, 1, 19), 174439.35, 6035),
 (1, datetime.date(2019, 1, 20), 168468.24, 10954),
 (10, datetime.date(2019, 1, 20), 118543.44, 4512),
 (11, datetime.date(2019, 1, 20), 213207.24, 7232),
 (12, datetime.date(2019, 1, 20), 189540.04, 6552),
 (13, datetime.date(2019, 1, 20), 168468.24, 10954),
 (14, datetime.date(2019, 1, 20), 168468.24, 10954),
 (15, datetime.date(2019, 1, 20), 168468.24, 10954),
 (16, datetime.date(2019, 1, 20), 168468.24, 10954),

## Transforming Data

In [203]:
df1 = pd.DataFrame(query1, columns = ['Store_cod', 'Product_code', 'Start_Date','End_Date', 'Business_Name', 'Business_code']) #tranform query 1 to dataframe and chose the name of columns
df2 = pd.DataFrame(query2, columns = ['Store_cod', 'Date', 'Sale_value', 'Sales_qty']) ##tranform query 2 to dataframe and chose the name of columns

In [204]:
df1.Start_Date.dtypes #check type of column

dtype('O')

In [205]:
df1['Start_Date'] = pd.to_datetime(df1.Start_Date) #transform to date  the columns Start_Date, because was imported as object
df2['Date'] = pd.to_datetime(df2.Date) #transform to date  the columns Date

## Filtering Data

In [206]:
df2 = df2[(df2['Date'] > '2019-12-01') & (df2['Date'] < '2019-12-31')] #filter query 2 as asked

## Calculate ticket value

In [207]:
df2['Ticket'] = df2.Sale_value/df2.Sales_qty #Calculate ticket value

In [208]:
df2

      Store_cod       Date  Sale_value  Sales_qty     Ticket
6700          1 2019-12-02   170756.36      11085  15.404272
6701         10 2019-12-02   122944.35       4649  26.445332
6702         11 2019-12-02   222921.67       7513  29.671459
6703         12 2019-12-02   197926.09       6797  29.119625
6704         13 2019-12-02   170756.36      11085  15.404272
...         ...        ...         ...        ...        ...
7275          5 2019-12-30   169775.21      11035  15.385157
7276          6 2019-12-30   169775.21      11035  15.385157
7277          7 2019-12-30   169775.21      11035  15.385157
7278          8 2019-12-30   168003.11      10936  15.362391
7279          9 2019-12-30   154459.78       5328  28.990199

[580 rows x 5 columns]

## Merge the columns

In [209]:
df0 = pd.merge(df2, df1, on = 'Store_cod') #merge two columns (query1 and query2)
df0

,Store_cod,Date,Sale_value,Sales_qty,Ticket,Product_code,Start_Date,End_Date,Business_Name,Business_code
0,1,2019-12-02,170756.36,11085,15.404272,Sao Paulo,2006-10-01,,Varejo,1
1,1,2019-12-03,196899.17,12805,15.376741,Sao Paulo,2006-10-01,,Varejo,1
2,1,2019-12-04,341691.51,22195,15.394977,Sao Paulo,2006-10-01,,Varejo,1
3,1,2019-12-05,296725.34,19332,15.348921,Sao Paulo,2006-10-01,,Varejo,1
4,1,2019-12-06,244171.36,15800,15.453884,Sao Paulo,2006-10-01,,Varejo,1
...,...,...,...,...,...,...,...,...,...,...
575,9,2019-12-26,236975.89,8170,29.005617,London,2014-10-01,,Farma,4
576,9,2019-12-27,249839.86,8622,28.977019,London,2014-10-01,,Farma,4
577,9,2019-12-28,201536.13,6958,28.964664,London,2014-10-01,,Farma,4
578,9,2019-12-29,159300.08,5497,28.979458,London,2014-10-01,,Farma,4
579,9,2019-12-30,154459.78,5328,28.990199,London,2014-10-01,,Farma,4

## Choose the columns and rename

In [224]:
result_df = df0[['Product_code','Business_Name','Ticket']] #Choose just 3 columns to show on the result
#result_df = result_df.rename(columns ={'Product_code': 'Loja', 'Business_Name': 'Categoria'}) #rename columns

In [225]:
result = result_df.groupby(['Product_code','Business_Name'], as_index=False).agg('mean').round(2) #calculae meand from group Loja and Categoria

In [226]:
result = result.rename(columns ={'Product_code': 'Loja', 'Business_Name': 'Categoria', 'Ticket':'TM'}) #rename columns

In [229]:
result

              Loja    Categoria     TM
0            Bahia      Atacado  15.39
1          Bangkok        Posto  13.67
2            Belem  Proximidade  15.36
3           Berlin  Proximidade  15.39
4     Buenos Aires      Atacado  15.39
5          Chicago       Varejo  15.53
6            Dubai      Atacado  15.39
7        Hong Kong        Farma  26.32
8           London        Farma  29.00
9            Madri        Farma  29.01
10           Miami        Posto  13.67
11        New York  Proximidade  15.39
12           Paris  Proximidade  15.39
13  Rio de Janeiro        Farma  29.56
14            Roma       Varejo  15.39
15        Salvador      Atacado  15.39
16       Sao Paulo       Varejo  15.39
17          Sidney        Posto  13.67
18           Tokio       Varejo  15.39
19       Vancouver        Posto  13.67

# Question 3